<a href="https://colab.research.google.com/github/MasujiOno/MMDT_T-PY101_Batch03/blob/main/Ex02_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [3]:
len("My name is Python")

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [5]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
count = s.lower().count("python")
print(count)

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [6]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
ls_combined = ls1 + ls2
print(len(ls_combined))

8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [7]:
data = {
    "Name": ["Myo", "Thida"],
    "Age": [32, 64]
}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [9]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
combined_set = set1.union(set2)

print(f"Combined Set: {combined_set}")
print(f"Length: {len(combined_set)}")

Combined Set: {'Name', 'age', 'status', 'Education', 'Height'}
Length: 5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [10]:
user_string = input("Enter a string: ")
if len(user_string) >= 2:
    new_string = user_string[0] + "*" + user_string[2:] + "!!!"
else:
    new_string = user_string + "!!!"

print("New string:", new_string)

Enter a string: Htoo
New string: H*oo!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [12]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
cleaned_s = s.lower().replace(".", "").replace("-", "").replace(",", "")

print(cleaned_s)

floatingpoint values in python are always done in double precision; hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [14]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
missing_set = set(L1) - set(L2)
print(list(missing_set)[0])

45

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [15]:
ls1 = ["apple", "banana", "cherry"]
ls_new = ls1.copy()
ls_new.append("blueberry")

print("Original List:", ls1)
print("New List:", ls_new)

Original List: ['apple', 'banana', 'cherry']
New List: ['apple', 'banana', 'cherry', 'blueberry']